.container {
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    margin-top: 1em;
    padding: 0.5em 0 0.5em 0;
    background: #efefef;
    border-radius: 5px;
}

.col {
    width: 8em;
    flex-grow: 18;
}

.colIcon {
    width: 1.5em;
    flex-grow: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.colLogo {
    width: 4em;
    flex-grow: 6;
    display: flex;
    justify-content: center;
}

.colName {
    width: 6em;
    flex-grow: 18;
    font-weight: bold;
}

.colLogo img {
    max-width: 30px;
}





